<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GAUTH | Home</title>
</head>
<body>
<nav>
    <ul>
        <li id="home"><a href="/">Home</a></li>
        <li id="login" hidden><a href="/login">Login</a></li>
        <li id="profile" hidden>
            <button onclick="profile({{.User.Username}})">Profile</button>
        </li>
    </ul>
</nav>
<script src="/static/javascript/index.js"></script>
</body>
</html>