<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GAUTH | Settings</title>
    <style>
        .center {
            text-align: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<nav>
    <ul>
        <li id="home"><a href="/">Home</a></li>
    </ul>
</nav>
<main class="center">
    <form id="settings" hidden>
        <label for="username">Username</label><input type="text" id="username" value="{{ .User.Username }}"><br>
        <label for="password">Password</label><input type="password" id="password" value="{{ .User.Password }}"><br>
        <label for="email">E-Mail</label><input type="email" id="email" value="{{ .User.EMail }}"><br>
        <label for="show_email">Show E-Mail</label><input type="checkbox" id="show_email"><br>
        <input type="button" id="save" value="Save" onclick="saveSettings()">
    </form>
</main>
<script>
    let givenUUID = {{ .User.UUID }};
</script>
<script src="/static/javascript/settings.js"></script>
</body>
</html>